img {
  position: fixed;
  max-width: 130vh;
  top: -25%;
  padding-top: 0%;
  left: 20%
}

.nav {
  border-width: 1px 0;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Didact Gothic', sans-serif;
}

.nav li {
  display: inline;
}

.nav a {
  display: inline-block;
  padding: 10px;
}

.main-page {
  width: 50vw;
  margin-left: 25%;
  margin-top: 5%;
  padding: 1vh;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 3.4vh;
  border-radius: 20px;
  line-height: 40px;
  font-family: 'Didact Gothic', sans-serif;

}

h1 {
  font-size: 80px;
}



h3 {
  color: red
}

.black-text {
  color: black;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 45px;
}

.small-text {
  font-size: 2.3vh;
  font-family: 'Didact Gothic', sans-serif;
}



.paragraph {
  line-height: 10px;
  font-family: 'Didact Gothic', sans-serif;
}