.nav {
  border-width: 1px 0;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.nav li {
  display: inline;
}

.nav a {
  display: inline-block;
  padding: 10px;
}

.main-page {
  width: 50vw;
  margin-left: 25%;
  margin-top: 5%;
  padding: 1vh;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 3.4vh;
  border-radius: 20px;
  line-height: 40px;

}

span::before {
  content: "Subject0";
  animation: animate infinite 12s;
  padding-left: 10px;
}

@keyframes animate {

  0% {
    content: "Subject1";
  }

  50% {
    content: "Subject2";
  }

  75% {
    content: "Subject3";
  }
}

h3 {
  color: red;
}

.black-text {
  color: black;
}

.small-text {
  font-size: 2.3vh;
}



.paragraph {
  line-height: 10px;
}